// inicio footer
.footer-container {
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 32%);
    padding: 20px 50px;
    font-size: medium;
    font-style: italic;
}

.footerlogos {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 45px;
    width: 45px;
    margin: 20px;
}

// fin footer