// datos generales
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(239, 38%, 23%);
    font-family: Helvetica, Arial, Sans-Serif;
}

.img-carro {
    img {
        aspect-ratio: 16/9;
        height: 700px;
    }
}

.tittlecarro {
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-size: 40px;
}

.textcarro {
    text-shadow: 0 0 4px rgb(0, 0, 0);
    font-size: 20px;
}