// inicio moments
.MOMENTISTITTLE {
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.linea {
    background: #04AA6D;
    height: 5px;
    width: 100%;
    display: block;
}

#inicio {
    width: 50px;
    height: 50px;
    background: #000;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    overflow: hidden;
    padding: 40px 0;
    img {
        width: 100%;
        vertical-align: top;
        height: 300px;
        object-fit: cover;
        transition: transform 0.5s;
    }
    a {
        &:hover {
            img {
                filter: blur(2px);
                transform: rotate(10deg) scale(1.3);
            }
        }
    }
}

galeria {
    >a {
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    }
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    img {
        width: 75vw;
        max-height: 70vh;
    }
    &:target {
        transform: scale(1);
    }
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 10px;
    background: #45a049;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background: #45a049;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: none;
    text-align: center;
}

.momentstext {
    text-align: center;
    font-size: large;
    color: #04AA6D;
}

.frase {
    font-style: oblique
}

// fin moments